<!DOCTYPE html>
<html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <title>{% block title %} {% endblock %}</title>

                        {% block stylesheets %}
                        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                        {% endblock %}

            </head>
    <body class="m-15">        
                <nav>
                    <div class="nav-link text-center text-primary">
                        <a class='nav-link' href={{path('home')}}>Home</a>
                        <a class='nav-link' href={{path('rules')}}>Règlement Intérieur</a>
                        <a class='nav-link' href={{path('classe')}}>Nos Classes</a>
                        <a class='nav-link' href={{path('eleve')}} >Nos éleves</a>
                        <a class='nav-link' href={{path('all_profs')}} >Nos professeurs</a>
                        <a class='nav-link' href={{path('matiere')}}>Nos matières</a>
                        <a class='nav-link' href={{path('create_matiere')}}>Ajouter une matière</a>
						<a class='nav-link' href={{path('create_classe')}} >Ajouter classe</a>

                    </div>
                </nav>

                <div class="container-row col-12  justify-center my-5">
                     <h1 class="text-center text-primary">{% block h1  %}    {% endblock h1 %} </h1>

                        {% block body %}

                        
                        {% endblock %}
                </div>







            <footer class="my-5">
            <p class="text-center text-primary">Réalisé en 2021</p>
            <a href="" class="center">Envoyer un email de !</a>
            </footer>
                    {% block javascripts %}
                    {#{{ encore_entry_script_tags('app') }}#}
                    {% endblock %}

    </body>
</html>

